@import "variables";

section {
  padding-bottom: 3vw;
  @media (max-width: 500px) {
    padding-bottom: 30px;
  }
  &.premieres {
    padding: 1vw 0 4.5vw 0;
    @media (max-width: 500px) {
      padding: 10px 0 45px 0;
    }
  }
}

.title {
  font-size: 1.2vw;
  margin: 2vw 0 2vw 1vw;
  color: $text-white;
  &:hover {
    gap: .8vw;
  }
  @media (max-width: 500px) {
    font-size: 12px;
    margin: 20px 0 20px 10px;
  }

  &_premieres {
    font-size: 1.4vw;
    margin: 0 0 2vw 1vw;
    cursor: default;
    @media (max-width: 500px) {
      font-size: 14px;
      margin: 0 0 20px 10px;
    }
  }

  &__link {
    display: inline-flex;
    gap: .5vw;
    transition: gap .1s linear;
    align-items: center;
    @media (max-width: 500px) {
      gap: 5px;
    }
  }

  &__svg {
    height: 1vw;
    @media (max-width: 500px) {
      height: 10px;
    }
  }
}

.card {
  display: block;
  min-width: calc((100% - 5vw) / 6);
  @media (max-width: 500px) {
    min-width: calc((100% - 2vw) / 3);
  }
}
