<section class="about-movie" *ngIf="movie" [style.background-image]="'url('+movie.backdrop.url+')'">
  <div class="content">
    <img class="name" *ngIf="movie?.logo?.url" [hidden]="!isImgLoaded" [src]="movie['logo']['url']" (load)="isImgLoaded = true">
    <p class="name" *ngIf="!movie?.logo?.url">{{movie['name']}}</p>
    <div class="title">
      <span class="rating" appRateColor [rating]="movie['rating']['kp']">{{movie['rating']['kp'] | number: '1.1-1'}}</span>
      <span class="year">{{movie['year']}}</span>
      <span class="genre">{{this.genre}}</span>
      <span class="country">{{movie.countries[0]['name']}}</span>
      <span *ngIf="movie.movieLength" class="movie-length">{{movie['movieLength'] | minutesToHours}}</span>
      <span *ngIf="movie?.seasonsInfo?.length" class="country">{{seasonsNumber}}</span>
      <span *ngIf="movie.ageRating" class="age-rating">{{movie['ageRating']}}+</span>
    </div>
    <div class="short-description">{{movie['shortDescription']}}</div>
    <div class="buttons">
      <button class="watch-movie" (click)="getVoidBoostLink()">Смотреть {{movieType}}</button>
      <button *ngIf="movie?.videos?.trailers?.length" class="watch-movie" (click)="getTrailer()">Трейлер</button>
    </div>
  </div>
</section>
<section *ngIf="movie" class="details">
  <h3>Детали</h3>
  <div class="content">
    <div class="content__container content__container_first">
      <p class="description">{{movie['description']}}</p>
    </div>
    <div *ngIf="actors.length" class="content__container">
      <h4 class="content__title">В главных ролях</h4>
      <ul class="content__ul">
        <li class="content__li" *ngFor="let actor of actors">
          <a class="content__a" routerLink="/person/{{actor.id}}">{{actor.name}}</a>
        </li>
      </ul>
    </div>
    <div *ngIf="directors.length" class="content__container">
      <h4 class="content__title">Режиссеры</h4>
      <ul class="content__ul">
        <li class="content__li" *ngFor="let director of directors">
          <a class="content__a" routerLink="/person/{{director.id}}">{{director.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section *ngIf="movie?.similarMovies?.length" class="similar">
  <h3>Похожее</h3>
  <app-slider class="films" [displayedImages]="6">
    <a class="films__card" *ngFor="let similarMovie of movie.similarMovies" routerLink="/movie/{{similarMovie.id}}">
      <app-movie-card [card]="similarMovie"></app-movie-card>
    </a>
  </app-slider>
</section>
