<section class="about-movie" *ngIf="movie" [style.background-image]="'url('+ movie.backdrop.url+')'">
  <div class="content">
    <img class="name" [hidden]="!isImgLoaded" [src]="'https://avatars.mds.yandex.net/get-ott/1531675/2a0000017f0262661cde61dc260cb86f7830/orig'" (load)="isImgLoaded = true" >
    <div class="title">
      <span class="rating">{{movie['rating']['kp'] | number: '1.1-1'}}</span>
      <span class="year">{{movie['year']}},</span>
      <span class="genre">{{movie.genres[0]['name']}},</span>
      <span class="country">{{movie.countries[0]['name']}},</span>
      <span class="movie-length">{{movie['movieLength'] | minutesToHours}},</span>
      <span class="age-rating">{{movie['ageRating']}}+</span>
    </div>
    <div class="short-description">{{movie['shortDescription']}}</div>
<!--    <div class="director">Режиссёр: <span class="person">{{directors[0].name}}</span></div>-->
<!--    <div class="actors">Актёры: <span *ngFor="let actor of actors.slice(0, 3)" class="person">{{actor.name}}</span></div>-->
    <div class="buttons">
      <button class="watch-movie">Смотреть {{movieType}}</button>
      <button class="watch-movie">Трейлер</button>
    </div>
  </div>
</section>
<section class="details">
  <div class="details__container">
    <p class="votes">{{movie['votes']['kp']}} оценки</p>
    <p class="description">{{movie['description']}}</p>
  </div>
  <div class="details__container">
    <h4>В главных ролях</h4>
    <ul>
      <li *ngFor="let actor of actors">{{actor.name}}</li>
    </ul>
  </div>
  <div class="details__container">
    <h4>Режиссеры</h4>
    <ul>
      <li *ngFor="let director of directors">{{director.name}}</li>
    </ul>
  </div>
</section>
