.premieres {
  display: flex;
  font-size: 1.5vw;
  gap: 1rem;
  margin: 2rem 0;
  align-items: center;
  &__svg {
    height: 2rem;
  }
}

.title {
  display: flex;
  font-size: 1.2vw;
  gap: 1rem;
  margin: 2rem 0;
  align-items: center;
  &__svg {
    height: 2rem;
  }
}

section {
  margin-bottom: 5vw;
}
