<app-header></app-header>
  <router-outlet></router-outlet>
  <div class="slider">
    <div class="cards">
      <div class="card">
        <img class="card__img" src="https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/6c892580-2702-4ba8-ae2d-ede8709e9011/x1000">
      </div>
      <div class="card">
        <img class="card__img" src="https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/6c892580-2702-4ba8-ae2d-ede8709e9011/x1000">
      </div>
      <div class="card">
        <img class="card__img" src="https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/6c892580-2702-4ba8-ae2d-ede8709e9011/x1000">
      </div>
      <div class="card">
        <img class="card__img" src="https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/6c892580-2702-4ba8-ae2d-ede8709e9011/x1000">
      </div>
    </div>
    <div class="control">
      <div class="control__left">
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 14' fill='#000000A0'><path d='M1.3 0 8 7l-6.7 7L0 12.7 5.5 7 0 1.3z'/></svg>
      </div>
      <div class="control__right">
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 14' fill='#000000A0'><path d='M1.3 0 8 7l-6.7 7L0 12.7 5.5 7 0 1.3z'/></svg>
      </div>
    </div>
  </div>

  <div class="slider2">
    <div class="cards2">
      <div class="card2">
        <img class="card2__img2" src="https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/6c892580-2702-4ba8-ae2d-ede8709e9011/x1000">
      </div>
      <div class="card2">
        <img class="card2__img2" src="https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/6c892580-2702-4ba8-ae2d-ede8709e9011/x1000">
      </div>
      <div class="card2">
        <img class="card2__img2" src="https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/6c892580-2702-4ba8-ae2d-ede8709e9011/x1000">
      </div>
      <div class="card2">
        <img class="card2__img2" src="https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/6c892580-2702-4ba8-ae2d-ede8709e9011/x1000">
      </div>
      <div class="card2">
        <img class="card2__img2" src="https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/6c892580-2702-4ba8-ae2d-ede8709e9011/x1000">
      </div>
    </div>
    <div class="control2">
      <div class="control__left2"></div>
      <div class="control__right2"></div>
    </div>
  </div>
<app-footer></app-footer>
