.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 2;
  width: 100%;
  padding: 0 7vw;
  transition: top .2s linear;
  &_hidden {
    top: -4.5vw;
  }
}

.main {
  margin-top: 4.5vw;
}
