<app-header #header class="header"></app-header>
<main class="main">
  <router-outlet></router-outlet>
</main>
<app-footer *ngIf="footerVisibility" ></app-footer>
<div #backdrop class="backdrop backdrop_hidden" (click)="removeVideoLink()"></div>
<div #modal class="modal modal_hidden">
  <iframe *ngIf="videoLink" width="1280" height="720" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
   gyroscope; picture-in-picture; web-share" allowfullscreen="" title="Трейлер"
          [src]="videoLink">
  </iframe>
  <div class="close-modal" (click)="removeVideoLink()"></div>
</div>
<div class="search" #search *ngIf="searchResults.length && inputFocused">
  <ul class="search__ul" (mousedown)="getMovie($event)">
    <li class="search__li" *ngFor="let film of searchResults">
      <a class="search__a" routerLink="/movie/{{film.filmId}}" [attr.data-id]="film.filmId">
        <ng-container *ngIf="film?.nameRu && film?.nameEn">
          <span class="search__name">{{film.nameRu}} </span>
          (<span>{{film.nameEn}}, </span>
        </ng-container>
        <ng-container *ngIf="film?.nameRu && !film?.nameEn">
          <span class="search__name">{{film.nameRu}} (</span>
        </ng-container>
        <ng-container *ngIf="!film?.nameRu && film?.nameEn">
          <span class="search__name">{{film.nameEn}} (</span>
        </ng-container>
        <span *ngIf="film.countries.length">{{film.countries[0].country}}, </span>
        <span class="search__genre" *ngIf="film.genres.length">{{film.genres[0].genre}}</span>)
        <span class="search__rating" *ngIf="film.rating && film.rating !== 'null'" appRateColor [rating]="film.rating">{{film.rating}}</span>
      </a>
    </li>
  </ul>
</div>
