section {
  margin-bottom: 6vw;
}

.title {
  display: inline-flex;
  font-size: 1.2vw;
  gap: .5vw;
  transition: gap .1s linear;
  margin: 2vw 0 2vw 1vw;
  align-items: center;
  cursor: default;
}

.filters {
  display: flex;
  gap: 1vw;
  margin-bottom: 2vw;
}

.films {
  display: flex;
  //gap: 1vw;
  flex-wrap: wrap;
  column-gap: 1vw;
  row-gap: 6vw;
  margin-bottom: 8vw;
}
