section {
  margin-bottom: 6vw;
  @media (max-width: 500px) {
    margin-bottom: 30px;
  }
}

.title {
  color: white;
  display: inline-flex;
  font-size: 1.2vw;
  gap: .5vw;
  transition: gap .1s linear;
  margin: 1vw 0 2vw 1vw;
  align-items: center;
  cursor: default;
  @media (max-width: 500px) {
    font-size: 12px;
    margin: 10px 0 20px 10px;
  }
}

.filters {
  display: flex;
  gap: 1vw;
  margin-bottom: 2vw;
  @media (max-width: 500px) {
    margin-bottom: 20px;
  }
}

.films {
  display: flex;
  //gap: 1vw;
  flex-wrap: wrap;
  column-gap: 1vw;
  row-gap: 6vw;
  margin-bottom: 8vw;
  @media (max-width: 500px) {
    row-gap: 50px;
    margin-bottom: 60px;
  }
  &__card {
    display: block;
    width: calc((100% - 5vw) / 6);
    @media (max-width: 500px) {
      width: calc((100% - 2vw) / 3);
    }
  }
}
