//@import "normalize.css";
//@import "./styles/_fonts.scss";

$main-bg: #000000;
$main-tc:  rgba(255, 255, 255, 0.6);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: $main-bg;
  color: $main-tc;
  padding: 0 7vw;
  //max-width: 1400px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.body__backdropped {
  overflow-y: hidden;
  padding: 0 calc(7vw + 17px) 0 7vw;
  //@media (max-width: 1200px) {
  //  padding: 0 7vw;
  //}
}

a {
  text-decoration: none;
  color: inherit;
}
