@import "normalize.css";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: black;
  color: $text-gray;
  padding: 0 7vw;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
