$text-white: #ffffff;
$text-gray: rgba(255, 255, 255, 0.6);
$text-black: #000000;



$neutral-0: #1c1c1f;
$neutral-10: #2a2a2e;
$neutral-20: #3d3d43;
$neutral-30: #757575;



$transparent-neutral-0: rgba(0, 0, 0, 0.66);
$transparent-neutral-10: rgba(128, 128, 128, 0.5);

$transparent-neutral-20: rgba(255, 255, 255, 0.5);
$transparent-neutral-30: rgba(255, 255, 255, 0.6);
$transparent-neutral-40: rgba(255, 255, 255, 0.65);
$transparent-neutral-50: rgba(255, 255, 255, 0.8);
