@import "../../../../variables";

.container {
  display: flex;
  justify-content: center;
  gap: .5vw;
  @media (max-width: 500px) {
    gap: 5px;
  }
}

.control {
  cursor: pointer;
  font-size: .9vw;
  background-color: $neutral-0;
  transition: background-color 0.2s;
  color: $text-white;
  padding: 0 .7vw;
  min-width: 2vw;
  max-height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .3vw;

  @media (max-width: 500px) {
    font-size: 9px;
    padding: 0 7px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 3px;
  }
  &:hover {
    background-color: $neutral-10;
  }
  &_disabled {
    opacity: 0.5;
    cursor: default;
    &:hover {
      background-color: $neutral-0;
      transition: background-color 0s;
    }
  }
  &_left {
    transform: rotate(180deg);
  }
}

.pages {
  display: flex;
  gap: .5vw;
  align-items: center;
  @media (max-width: 500px) {
    gap: 3px;
  }
  &_before {
    &::before {
      text-wrap: nowrap;
      content: '• • •';
      font-size: .8vw;
      order: 1;
      @media (max-width: 500px) {
        font-size: 8px;
      }
    }
  }

  &_after {
    &::after {
      text-wrap: nowrap;
      content: '• • •';
      font-size: .8vw;
      order: 3;
      @media (max-width: 500px) {
        font-size: 8px;
      }
    }
  }
}

.page {
  cursor: pointer;
  font-size: .9vw;
  background-color: $neutral-0;
  transition: background-color 0.2s;
  color: $text-white;
  padding: 0 .4vw;
  min-width: 2vw;
  min-height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .3vw;
  order: 2;
  @media (max-width: 500px) {
    font-size: 9px;
    padding: 0 4px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 3px;
  }

  &:hover {
    background-color: $neutral-10;
  }

  &_current {
    background-color: $neutral-20;
    cursor: default;
    &:hover {
      background-color: $neutral-20;
      transition: background-color 0s;
    }
  }

  &_start {
    order: 0
  }

  &_end {
    order: 4;
  }
}
